@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #44E066, #FEFD48);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #00000096;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #FF4F59;
    text-align: center;
    text-shadow: 1px 1px 2px #8a2b2f;
}

h2 {
    color: #57B7CC;
}

p {
    text-align: justify;
}